/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;

    box-sizing: none;
}
.border{
    border: 2px solid palegreen;
}
/*header*/
.btn-formulario{
    display: flex;
    justify-content: space-around;
    background-color: #C71585;
}
h1 {
    color: #C71585; /* Rosado oscuro */
    display: inline;
    color: #fff;
    padding: 5px 20px 5px 20px;
    margin: 0;
    flex-grow: 2 !important;   
    text-align: center;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #C71585; /* Azul Bootstrap */
    color: white;
    text-align: center;
    margin: 0;
    flex-grow: 1 !important;  
}
.btn-icon:hover {
    background-color: #eb69bb;
    box-shadow: none;
}

.btn-editar{
    background-color: #C71585; /* Azul Bootstrap */
    color: white;
    flex-grow: 1 !important; 
    border: none;  
    border-radius: 0px;
    padding: 0; 
}
.btn-editar:hover{
    background-color: #eb69bb;
    box-shadow: none;
}
/*seccion trabajador*/

.table-identificacion {
    display: flex;
    flex-wrap: wrap;            /* Permite que las filas se envuelvan */
    margin: 0;   
    padding: 0;           /* Elimina márgenes */
}

.row {
    display: flex;              /* Crea un contenedor flexible */
    width: 100%;               /* Cada fila ocupa el ancho completo */
    margin: 0px 0px 10px 00px;     /* Espacio entre filas */
}

.col-input {
    width: 30%;
    padding: 10px;  
}
.col-name{
    width: 20% !important;

    display: flex;          /* Aplica flexbox */
    align-items: center; 
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: border-box;
    /*margin-top: 5px;
    margin-bottom: 15px;*/
}



/* Ajusta la columna con un colspan para el select */
/*.col[colspan] {
    flex-basis: 100%;         /* Ocupa el ancho completo cuando se utiliza colspan */
/*}

/* Estilo para inputs y selects */
input, select {
    width: 100%;               /* Los inputs y selects ocupan todo el ancho de la columna */
    padding: 8px;             /* Espaciado interno en inputs y selects */
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 600px) {
    .col-input {
        flex-basis: 100%;      /* En pantallas pequeñas, cada columna ocupa el 100% */
    }
    .col-name {
        flex-basis: 100%;      /* En pantallas pequeñas, cada columna ocupa el 100% */
    }
}


/*<!-- 2. Grupo Familiar -->*/







/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00BFFF; /* Celeste */
    color: white;
    border-bottom: 2px solid #ffffff;
}

td {
    border-bottom: 1px solid #ddd;
}

/*input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
}
*/
input[type="number"] {
    text-align: right;
}
/* Botones */
button {
    background-color: #00BFFF; /* Celeste */
   color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #1e90ff; /* Azul oscuro para hover */
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/* Botones de eliminar */
button[type="button"] {
    background-color: #C71585; /* Rosado oscuro */
}

button[type="button"]:hover {
    background-color: #e91e63; /* Rosado brillante para hover */
}


label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border-color: #00BFFF; /* Celeste */
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 191, 255, 0.5); /* Celeste */
}
/* Formularios y Fieldsets */
fieldset {
    border: 2px solid #00BFFF; /* Celeste */
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #C71585; /* Rosado oscuro */
    padding: 10px;
    border-radius: 5px;
}





/*boton actualizar y exportar pdf*/
.btn-actualizar{
    background-color: #00BFFF;
    color: #ddd;
}
.btn-pdf{
    background-color: #C71585;
    color: #ddd;
}






