/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;

    box-sizing: none;
}
.border{
    border: 2px solid palegreen;
}
/*header*/
.btn-formulario{
    display: flex;
    justify-content: space-around;
    background-color: #C71585;
}
h1 {
    color: #C71585; /* Rosado oscuro */
    display: inline;
    color: #fff;
    padding: 5px 20px 5px 20px;
    margin: 0;
    flex-grow: 2 !important;   
    text-align: center;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #C71585; /* Azul Bootstrap */
    color: white;
    text-align: center;
    margin: 0;
    flex-grow: 1 !important;  
}
.btn-icon:hover {
    background-color: #eb69bb;
    box-shadow: none;
}

.btn-editar{
    background-color: #C71585; /* Azul Bootstrap */
    color: white;
    flex-grow: 1 !important; 
    border: none;  
    border-radius: 0px;
    padding: 0; 
}
.btn-editar:hover{
    background-color: #eb69bb;
    box-shadow: none;
}
/*seccion trabajador*/

.table-identificacion {
    display: flex;
    flex-wrap: wrap;            /* Permite que las filas se envuelvan */
    margin: 0;   
    padding: 0;           /* Elimina márgenes */
}

.row {
    display: flex;              /* Crea un contenedor flexible */
    width: 100%;               /* Cada fila ocupa el ancho completo */
    margin: 0px 0px 10px 00px;     /* Espacio entre filas */
}

.col-input {
    width: 30%;
    padding: 10px;  
}
.col-name{
    width: 20% !important;

    display: flex;          /* Aplica flexbox */
    align-items: center; 
}

/* Ajusta la columna con un colspan para el select */
/*.col[colspan] {
    flex-basis: 100%;         /* Ocupa el ancho completo cuando se utiliza colspan */
/*}

/* Estilo para inputs y selects */
input, select {
    width: 100%;               /* Los inputs y selects ocupan todo el ancho de la columna */
    padding: 8px;             /* Espaciado interno en inputs y selects */
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 600px) {
    .col {
        flex-basis: 100%;      /* En pantallas pequeñas, cada columna ocupa el 100% */
    }
}

fieldset {
    border: 2px solid #00BFFF; /* Celeste */
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #C71585; /* Rosado oscuro */
    padding: 10px;
    border-radius: 5px;
}





