/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
   
    
}

body::before {
    content: '';
    position: fixed; /* Cubre toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/Logo Fastpack 4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1; /* Controla la transparencia de la imagen */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}
.card-header{
    display: flex;
    justify-content: center;
}

.card-title {
    text-align: center;
    color: #C71585; /* Rosado oscuro */
    margin-top: 20px;
    font-size: 1.3rem;
}

.rosado{
    background-color: #ff99cc; /* Color rosado */
    color: white; /* Color del texto */
}

.table-responsive {
    background-color: transparent;
}

.card {
    background-color: transparent;
    border: none; /* Opcional, para quitar el borde de la tarjeta */
}

.card-header,
.card-body,
.card-footer {
    background-color: transparent; /* Hacer que el fondo de los encabezados y pie de página sea transparente */
}











.footerr {
    background-color: #333;
    color:black;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;

}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 15px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}






/*alejandro*/


.cont-button{
    margin-left: 41%;
    margin-top: 0px;
}
.contenedor {
    display: flexbox;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    overflow-y: auto;
   max-height: 400px;
    max-width: 100%; /* Ancho de su contenedor */
    margin: 0px 0;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre bordes */
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

thead tr th {
    position: sticky; /* Fija el encabezado */
    top: 0; /* Alinea el encabezado con la parte superior del contenedor */
    background-color: #00bcd4; /* Fondo del encabezado para mejorar la visibilidad */
    border-bottom: 2px solid #ddd; /* Línea inferior para el encabezado */
    z-index: 1; /* Asegura que el encabezado esté por encima de las filas */
    color: #f9f9f9;
}

/*Celdas de la tabla */
th, td {
    border: 0px solid #dddddd;
    text-align: center; /* Alineación del texto */
    padding: 8px; /* Espaciado interno */
}

/* Filas del encabezado */
th {
    background-color: #f2f2f2; /*Celdas del encabezado */
    font-weight: bold; 
}

/* Filas alternas */
tr:nth-child(even) {
    background-color: #f9f9f9; 
}

/* Cursor sobre ellas */
tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el cursor */
}