.logo-navbar {
    max-height: 40px; /* Ajusta este valor según la altura de tu navbar */
    height: auto;
  }

  .color-fondo-herader{
    background-color: #C71585;
    color: #fff;
  }
 
  .nav-link{
    color: white !important; 
    border-left: #fff !important;
  }
  .nav-item{
    border-left:2px solid #fff !important;
  }
  .nav-item:hover{
    background-color: #cc9cbb;
  }

  .cerrar-sesion{
    border-left: #fff !important;
  }
  @media (max-width: 991px) {
    .nav-item{
      border:none !important;
    }

    .border{
      border: 2px solid;
    }

}